@model aspnet_mongo.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h2 class="text-center">Login</h2>

<div class="d-flex justify-content-center align-items-center">
    <div class="col-md-4">
        <form asp-action="Login" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check m-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group d-flex justify-content-center">
                <a asp-action="Index" asp-controller="Register" class="btn btn-link">Ainda não possui cadastro?</a>
            </div>
            <div class="form-group d-flex justify-content-center mt-1">
                <input type="submit" value="Logar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
